Api/Soap/fichier.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:tns="http://localhost/mglsi-blog/Api/Soap/MySoapServer.php"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
   xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
   name="MySoapServer"
   targetNamespace="http://localhost/mglsi-blog/Api/Soap/MySoapServer.php">
   <types>
     <xsd:schema targetNamespace="http://localhost/mglsi-blog/Api/Soap/MySoapServer.php"/>
   </types><portType name="MySoapServerPort">
   <operation name="revokeToken">
     <documentation>revokeToken</documentation>
     <input message="tns:revokeTokenIn"/>
   </operation>
   <operation name="connect">
     <documentation>connect</documentation>
     <input message="tns:connectIn"/>
   </operation>
   <operation name="addUser">
     <documentation>addUser</documentation>
     <input message="tns:addUserIn"/>
   </operation>
   <operation name="getAllUser">
     <documentation>getAllUser</documentation>
     <input message="tns:getAllUserIn"/>
   </operation>
   <operation name="updateUser">
     <documentation>updateUser</documentation>
     <input message="tns:updateUserIn"/>
   </operation>
   <operation name="removeUser">
     <documentation>removeUser</documentation>
     <input message="tns:removeUserIn"/>
   </operation>
 </portType><binding name="MySoapServerBinding" type="tns:MySoapServerPort">
 <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="revokeToken">
   <soap:operation soapAction="http://localhost/mglsi-blog/Api/Soap/MySoapServer.php#revokeToken"/>
   <input>
     <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/mglsi-blog/Api/Soap/MySoapServer.php"/>
   </input>
 </operation>
 <operation name="connect">
   <soap:operation soapAction="http://localhost/mglsi-blog/Api/Soap/MySoapServer.php#connect"/>
   <input>
     <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/mglsi-blog/Api/Soap/MySoapServer.php"/>
   </input>
 </operation>
 <operation name="addUser">
   <soap:operation soapAction="http://localhost/mglsi-blog/Api/Soap/MySoapServer.php#addUser"/>
   <input>
     <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/mglsi-blog/Api/Soap/MySoapServer.php"/>
   </input>
 </operation>
 <operation name="getAllUser">
   <soap:operation soapAction="http://localhost/mglsi-blog/Api/Soap/MySoapServer.php#getAllUser"/>
   <input>
     <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/mglsi-blog/Api/Soap/MySoapServer.php"/>
   </input>
 </operation>
 <operation name="updateUser">
     <soap:operation soapAction="http://localhost/mglsi-blog/Api/Soap/MySoapServer.php#updateUser"/>
     <input>
       <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/mglsi-blog/Api/Soap/MySoapServer.php"/>
     </input>
   </operation>
   <operation name="removeUser">
     <soap:operation soapAction="http://localhost/mglsi-blog/Api/Soap/MySoapServer.php#removeUser"/>
     <input>
       <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/mglsi-blog/Api/Soap/MySoapServer.php"/>
     </input>
   </operation>
 </binding>
 <service name="MySoapServerService">
   <port name="MySoapServerPort" binding="tns:MySoapServerBinding">
     <soap:address location="http://localhost/mglsi-blog/Api/Soap/MySoapServer.php"/>
   </port>
 </service>
 <message name="revokeTokenIn"><part name="token" type="xsd:anyType"/>
</message>
<message name="connectIn">
  <part name="connexionData" type="xsd:anyType"/>
</message>
<message name="addUserIn">
  <part name="user" type="xsd:anyType"/>
  <part name="token" type="xsd:anyType"/>
</message>
<message name="getAllUserIn">
  <part name="token" type="xsd:anyType"/>
</message><message name="updateUserIn">
<part name="user" type="xsd:anyType"/>
<part name="token" type="xsd:anyType"/>
</message>
<message name="removeUserIn">
  <part name="user" type="xsd:anyType"/>
  <part name="token" type="xsd:anyType"/>
</message>
</definitions>
