Api/Soap/soapService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns="http://schemas.xmlsoap.org/wsdl/"

  targetNamespace="urn:soapServicewsdl"
  xmlns:tns="urn:soapServicewsdl"
  >
  <types>
    <xsd:schema targetNamespace="urn:soapServicewsdl">

      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />

      <xsd:element name="id" type="xsd:int" />
      <xsd:element name="nom" type="xsd:string" />
      <xsd:element name="prenom" type="xsd:string" />
      <xsd:element name="mail" type="xsd:string" />
      <xsd:element name="statut" type="xsd:string" />
      <xsd:element name="token" type="xsd:string" />
      <xsd:element name="pseudo" type="xsd:string" />
      <xsd:element name="password" type="xsd:string" />

      <xsd:complexType name="User">
        <xsd:all>
          <xsd:element ref="tns:id" />
          <xsd:element ref="tns:nom" />
          <xsd:element ref="tns:prenom" />
          <xsd:element ref="tns:mail" />
          <xsd:element ref="tns:statut" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Token">
        <xsd:all>
          <xsd:element ref="tns:id" />
          <xsd:element name="idUser" type="xsd:int" />
          <xsd:element ref="tns:token" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ConnexionData">
        <xsd:all>
          <xsd:element ref="tns:pseudo" />
          <xsd:element ref="tns:password" />
        </xsd:all>
      </xsd:complexType>

      <xsd:complexType name="allUser">
        <xsd:complexContent>
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:User[]" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>

    </xsd:schema>
  </types>

  <message name="connectRequest">
    <part name="connexionData" type="tns:ConnexionData"/>
  </message>
  <message name="connectResponse">
    <part name="return" type="tns:Token" />
  </message>
  <message name="addUserRequest">
    <part name="user" type="tns:User"/>
    <part name="token" type="tns:Token" />
  </message>
  <message name="addUserResponse">
    <part name="return" type="xsd:string" />
  </message>
  <message name="getAllUserRequest">
    <part name="token" type="tns:Token"/>
  </message>
  <message name="getAllUserResponse">
    <part name="return" type="tns:allUser" />
  </message>
  <message name="updateUserRequest">
    <part name="user" type="tns:User"/>
    <part name="token" type="tns:Token" />
  </message>
  <message name="updateUserResponse">
    <part name="return" type="xsd:string" />
  </message>
  <message name="removeUserRequest">
    <part name="user" type="tns:User"/>
    <part name="token" type="tns:Token" />
  </message>
  <message name="removeUserResponse">
    <part name="return" type="xsd:string" />
  </message>

  <portType name="soapServicePortType">

    <operation name="connect">
      <documentation>Permet à l'utilisateur de s'authentifier</documentation>
      <input message="tns:connectRequest" />
      <output message="tns:connectResponse" />
    </operation>
    <operation name="addUser">
      <documentation>Permet d'ajouter un nouveau utilisateur</documentation>
      <input message="tns:addUserRequest" />
      <output message="tns:addUserResponse" />
    </operation>
    <operation name="getAllUser">
      <documentation>Renvoie la liste des utilisateurs</documentation>
      <input message="tns:getAllUserRequest" />
      <output message="tns:getAllUserResponse" />
    </operation>
    <operation name="updateUser">
      <documentation>Permet de mettre à jour les informations d'unutlisateur</documentation>
      <input message="tns:updateUserRequest" />
      <output message="tns:updateUserResponse" />
    </operation>
    <operation name="removeUser">
      <documentation>Permet de supprimer un utilisateur</documentation>
      <input message="tns:removeUserRequest" />
      <output message="tns:removeUserResponse" />
    </operation>

  </portType>

  <binding name="soapServiceBinding" type="tns:soapServicePortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />

    <operation name="connect">
      <soap:operation soapAction="urn:soapServicewsdl#connectServer" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:soapServicewsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:soapServicewsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="addUser">
      <soap:operation soapAction="urn:soapServicewsdl#addUserServer" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:soapServicewsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:soapServicewsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="getAllUser">
      <soap:operation soapAction="urn:soapServicewsdl#getAllUserServer" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:soapServicewsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:soapServicewsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="updateUser">
      <soap:operation soapAction="urn:soapServicewsdl#updateUserServer" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:soapServicewsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:soapServicewsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="removeUser">
      <soap:operation soapAction="urn:soapServicewsdl#removeUserServer" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:soapServicewsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:soapServicewsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>

  <service name="soapService">
    <port name="soapServicePort" binding="tns:soapServiceBinding">
      <soap:address location="http://localhost/mglsi-blog/Api/Soap" />
    </port>
  </service>

</definitions>
